{
    "parser": "babel-eslint",
    "plugins": [
      "react",
      "react-native",
      "prettier"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "extends" : [
      "eslint:recommended",
      "plugin:react/recommended",
      "airbnb-base",
      "prettier"
    ],
    "rules": {
        "prettier/prettier": ["error"],
        
      "arrow-body-style" : "warn" ,
        "no-shadow": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "import/prefer-default-export":0
    
    
    }
    }
